.mat-list-style .mat-list-item {
  color: black !important;
}

.mat-grid-list-style .mat-grid-tile {
  background-color: pink !important;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}

button {
  margin: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.btnColor {
  background-color: lightgrey;
}

.btnText {
  color: red;
}
