<p>snacks-recipe works!</p>

<p *ngIf="item">
  {{ item }} passed from parent component is displayed from the child template
</p>

<div *ngIf="itemList">
  <h4>Snacks List from child component</h4>
  <ul *ngFor="let item of itemList">
    <li>{{ item.id }}&nbsp;{{ item.name }}</li>
  </ul>
</div>

<div>
  <label for="item-input-id">Add an item Id:</label>
  <input type="text" id="item-input-id" #newItemId />
  <label for="item-input-name">Add an item Name:</label>
  <input type="text" id="item-input-name" #newItemName />
  <button
    type="button"
    (click)="addNewItem(newItemId.value, newItemName.value)"
  >
    Add Item
  </button>
</div>
