<h1>Recipe App</h1>

<div>
  Rewriting the recipe on a paper has become very old-fashioned, and bookmarking
  is unreliable. So, here we have the solution to your problem with our recipe
  application.
</div>
<div>
  Application that makes cooking easier, faster and more convenient. In fact
  such an application is a faithful assitant in the kitchen, a kind of digital
  scullion. Its a mini-cook willing to help you with advice and give you the
  opportunity to consult with other users; and you can share your culinary
  experience with them too.
</div>
<div>
  Men and women, teenagers and old people or families and single, everyone loves
  to cook. So, the application offers you with a wide variety of recipes for
  different occasions depending upon your style of cusine, you can search any
  recipe you want to cook.
</div>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<router-outlet></router-outlet>
