<mat-toolbar color="primary">
  <h1>Welcome to {{ title }}</h1>
  <mat-toolbar-row>
    <button mat-icon-button>
      <!--<mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
      <mat-icon>menu</mat-icon>
    </button>
    <h1 [routerLink]="'/home-page'">Home</h1>
    <div>
      <a mat-button [routerLink]="'/snacks-recipes'">Snacks Recipes</a>
      <a mat-button [routerLink]="'/nonveg-recipes'">Non Veg Recipes</a>
      <a mat-button [routerLink]="'/veg-recipes'">Veg Recipes</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!--<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/breakfast-recipes'">Breakfast Recipes</a>
      <a mat-list-item [routerLink]="'/nonveg-recipes'">Non Veg Recipes</a>
      <a mat-list-item [routerLink]="'/veg-recipes'">Veg Recipes</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>-->
<router-outlet></router-outlet>
